{
  "parser": "babel-eslint",
  "extends":
    ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
   "react",
   "react-native"],
"parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
}
}
